{% extends "blog/base.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted | date:"F d, Y" }}</small>
        <div> {% if  object.author == user %}
<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'file-update' object.id %}">Update</a>
<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'file-delete' object.id %}">Delete</a>
        
          {% endif %}
                </div>
      
      </div>
    
      <h2  class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.summary }}</p>
    </div>
  </article>
  <hr>
<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'add_comment_to_post' files.pk %}">Add comment</a>  

<br>
{% if user.is_staff and user.is_superuser %}
{% for comment in object.comments.all %}

    <div  class="container content-section" >
      {% if comment.role == 'Phase 2' %}
      <button type="button" class="btn btn-warning btn-sm mt-1 mb-1">{{ comment.role }}</button>
     {% elif comment.role == 'Phase 1' %}
     <button type="button" class="btn btn-success btn-sm mt-1 mb-1">{{ comment.role }}</button>
     {% elif comment.role == 'Final' %}
     <button type="button" class="btn btn-info btn-sm mt-1 mb-1">{{ comment.role }}</button>
     {% elif comment.role == 'Scan' %}
     <button type="button" class="btn btn-danger btn-sm mt-1 mb-1">{{ comment.role }}</button>
     {% endif %}
    


      <strong>{{ comment.author }}</strong><br>

      
      <small class="text-muted">{{ comment.created_date | date:"F d, Y" }}</small>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
    {% endfor %}
{% elif   user.is_superuser     %}
{% for comment in object.comments.all %}
{% if  comment.role == 'Phase 2' or comment.role == 'Phase 1' or comment.role == 'Scan' %}

        <div  class="container content-section" >
          {% if comment.role == 'Phase 2' %}
          <button type="button" class="btn btn-warning btn-sm mt-1 mb-1">{{ comment.role }}</button>
         {% elif comment.role == 'Phase 1' %}
         <button type="button" class="btn btn-success btn-sm mt-1 mb-1">{{ comment.role }}</button>
         {% elif comment.role == 'Final' %}
         <button type="button" class="btn btn-info btn-sm mt-1 mb-1">{{ comment.role }}</button>
         {% elif comment.role == 'Scan' %}
         <button type="button" class="btn btn-danger btn-sm mt-1 mb-1">{{ comment.role }}</button>
         {% endif %}
    
    
        
          <strong>{{ comment.author }}</strong><br>

          <small class="text-muted">{{ comment.created_date | date:"F d, Y" }}</small>
      
            <p>{{ comment.text|linebreaks }}</p>
        </div>
{% endif %}        
{% endfor %}
{% elif user.is_staff    %}

{% for comment in object.comments.all %}
{% if  comment.role == 'Phase 1' or comment.role == 'Scan' %}    

        <div   class="container content-section">
          {% if comment.role == 'Phase 2' %}
          <button type="button" class="btn btn-warning btn-sm mt-1 mb-1">{{ comment.role }}</button>
         {% elif comment.role == 'Phase 1' %}
         <button type="button" class="btn btn-success btn-sm mt-1 mb-1">{{ comment.role }}</button>
         {% elif comment.role == 'Final' %}
         <button type="button" class="btn btn-info btn-sm mt-1 mb-1">{{ comment.role }}</button>
         {% elif comment.role == 'Scan' %}
         <button type="button" class="btn btn-danger btn-sm mt-1 mb-1">{{ comment.role }}</button>
         {% endif %}
    
    
        
          <strong>{{ comment.author }}</strong><br>

          <small class="text-muted">{{ comment.created_date | date:"F d, Y" }}</small>
     
            <p>{{ comment.text|linebreaks }}</p>
        </div>
{% endif %}        

{% endfor %}
{% else  %}
{% for comment in object.comments.all %}
{% if comment.role == 'Scan' %}     


        <div class='container content-section'>
          {% if comment.role == 'Phase 2' %}
          <button type="button" class="btn btn-warning btn-sm mt-1 mb-1">{{ comment.role }}</button>
         {% elif comment.role == 'Phase 1' %}
         <button type="button" class="btn btn-success btn-sm mt-1 mb-1">{{ comment.role }}</button>
         {% elif comment.role == 'Final' %}
         <button type="button" class="btn btn-info btn-sm mt-1 mb-1">{{ comment.role }}</button>
         {% elif comment.role == 'Scan' %}
         <button type="button" class="btn btn-danger btn-sm mt-1 mb-1">{{ comment.role }}</button>
         {% endif %}
    

          <strong>{{ comment.author }}</strong>
    <br>
          <small class="text-muted">{{ comment.created_date | date:"F d, Y" }}</small>
         

            <p>{{ comment.text|linebreaks }}</p>
        </div>
{% endif %}        

{% endfor %}
{% endif %}  

{% endblock %}